.ProjectSidebar {
  border-right: 2px solid #ccc;
  padding: 1rem;
  padding-right: 2rem;

}

.ProjectSidebar__list {
    list-style: none;

}
  
  .ProjectSidebar__item {
    cursor: pointer;
    color: rgb(39, 41, 39);
    text-decoration: none;
    display: block;
    position: relative;
    width: 100%;

    &.active {
      text-decoration: underline;
      font-weight: 800;
      color: rgb(84, 84, 191);
    }
  }