section {
    margin: 0 auto;
    max-width: 50rem;
    padding: 3rem;
    margin-top: 3rem;
    border: 0.1rem solid #4259FF;
    border-radius: 0.5rem;
    background-color: hsl(0, 0%, 93%);
    box-shadow: 0.8rem 1.2rem #4258ff90;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
}